# IGNORE IDEA FILES
*.iml
*.ipr
*.iws
.idea/

**/data/

# IGNORE VIM FILES
.*.sw[a-z]
*.un~
Session.vim

# IGNORE ECLIPSE FILES
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Maven target directory and .class files
target/**
*.class